
/** 3D Transformation support */
.3d {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translate3d(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translate3d(-10px, 0, 0);}
  20%, 40%, 60%, 80% {-webkit-transform: translate3d(10px, 0, 0);}
}

@-moz-keyframes shake {
  0%, 100% {-moz-transform: translate3d(0);}
  10%, 30%, 50%, 70%, 90% {-moz-transform: translate3d(-10px, 0, 0);}
  20%, 40%, 60%, 80% {-moz-transform: translate3d(10px, 0, 0);}
}

@-o-keyframes shake {
  0%, 100% {-o-transform: translate3d(0);}
  10%, 30%, 50%, 70%, 90% {-o-transform: translate3d(-10px, 0, 0);}
  20%, 40%, 60%, 80% {-o-transform: translate3d(10px, 0, 0);}
}

@keyframes shake {
  0%, 100% {transform: translate3d(0);}
  10%, 30%, 50%, 70%, 90% {transform: translate3d(-10px, 0, 0);}
  20%, 40%, 60%, 80% {transform: translate3d(10px, 0, 0);}
}

.3d.shake {
  -webkit-animation-name: shake3d;
  -moz-animation-name: shake3d;
  -o-animation-name: shake3d;
  animation-name: shake3d;
}

@-webkit-keyframes bounce3d {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translate3d(0);}
  40% {-webkit-transform: translate3d(0, -30px, 0);}
  60% {-webkit-transform: translate3d(0, -15px, 0);}
}

@-moz-keyframes bounce3d {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translate3d(0);}
  40% {-moz-transform: translate3d(0, -30px, 0);}
  60% {-moz-transform: translate3d(0, -15px, 0);}
}

@-o-keyframes bounce3d {
  0%, 20%, 50%, 80%, 100% {-o-transform: translate3d(0);}
  40% {-o-transform: translate3d(0, -30px, 0);}
  60% {-o-transform: translate3d(0, -15px, 0);}
}
@keyframes bounce3d {
  0%, 20%, 50%, 80%, 100% {transform: translate3d(0);}
  40% {transform: translate3d(0, -30px, 0);}
  60% {transform: translate3d(0, -15px, 0);}
}

.3d.bounce {
  -webkit-animation-name: bounce3d;
  -moz-animation-name: bounce3d;
  -o-animation-name: bounce3d;
  animation-name: bounce3d;
}

@-webkit-keyframes tada3d {
  0% {-webkit-transform: scale3d(1, 1, 0);}
  10%, 20% {-webkit-transform: scale3d(0.9, 0.9, 0) rotate3d(0, 0, -3deg);}
  30%, 50%, 70%, 90% {-webkit-transform: scale3d(1.1, 1.1, 0) rotate3d(0, 0, 3deg);}
  40%, 60%, 80% {-webkit-transform: scale3d(1.1, 1.1, 0) rotate3d(0, 0, -3deg);}
  100% {-webkit-transform: scale3d(1, 1, 0) rotate3d(0, 0, 0);}
}

@-moz-keyframes tada3d {
  0% {-moz-transform: scale3d(1, 1, 0);}
  10%, 20% {-moz-transform: scale3d(0.9, 0.9, 0) rotate3d(0, 0, -3deg);}
  30%, 50%, 70%, 90% {-moz-transform: scale3d(1.1, 1.1, 0) rotate3d(0, 0, 3deg);}
  40%, 60%, 80% {-moz-transform: scale3d(1.1, 1.1, 0) rotate3d(0, 0, -3deg);}
  100% {-moz-transform: scale3d(1, 1, 0) rotate3d(0, 0, 0);}
}

@-o-keyframes tada3d {
  0% {-o-transform: scale3d(1, 1, 0);}
  10%, 20% {-o-transform: scale3d(0.9, 0.9, 0) rotate3d(0, 0, -3deg);}
  30%, 50%, 70%, 90% {-o-transform: scale3d(1.1, 1.1, 0) rotate3d(0, 0, 3deg);}
  40%, 60%, 80% {-o-transform: scale3d(1.1, 1.1, 0) rotate3d(0, 0, -3deg);}
  100% {-o-transform: scale3d(1, 1, 0) rotate3d(0, 0, 0);}
}

@keyframes tada3d {
  0% {transform: scale3d(1, 1, 0);}
  10%, 20% {transform: scale3d(0.9, 0.9, 0) rotate3d(0, 0, -3deg);}
  30%, 50%, 70%, 90% {transform: scale3d(1.1, 1.1, 0) rotate3d(0, 0, 3deg);}
  40%, 60%, 80% {transform: scale3d(1.1, 1.1, 0) rotate3d(0, 0, -3deg);}
  100% {transform: scale3d(1, 1, 0) rotate3d(0, 0, 0);}
}

.3d.tada {
  -webkit-animation-name: tada3d;
  -moz-animation-name: tada3d;
  -o-animation-name: tada3d;
  animation-name: tada3d;
}


@-webkit-keyframes swing3d {
  20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
  20% { -webkit-transform: rotate3d(0, 0, 15deg); }
  40% { -webkit-transform: rotate3d(0, 0, -10deg); }
  60% { -webkit-transform: rotate3d(0, 0, 5deg); }
  80% { -webkit-transform: rotate3d(0, 0, -5deg); }
  100% { -webkit-transform: rotate3d(0, 0, 0deg); }
}

@-moz-keyframes swing3d {
  20% { -moz-transform: rotate3d(0, 0, 15deg); }
  40% { -moz-transform: rotate3d(0, 0, -10deg); }
  60% { -moz-transform: rotate3d(0, 0, 5deg); }
  80% { -moz-transform: rotate3d(0, 0, -5deg); }
  100% { -moz-transform: rotate3d(0, 0, 0deg); }
}

@-o-keyframes swing3d {
  20% { -o-transform: rotate3d(0, 0, 15deg); }
  40% { -o-transform: rotate3d(0, 0, -10deg); }
  60% { -o-transform: rotate3d(0, 0, 5deg); }
  80% { -o-transform: rotate3d(0, 0, -5deg); }
  100% { -o-transform: rotate3d(0, 0, 0deg); }
}

@keyframes swing3d {
  20% { transform: rotate3d(0, 0, 15deg); }
  40% { transform: rotate3d(0, 0, -10deg); }
  60% { transform: rotate3d(0, 0, 5deg); }
  80% { transform: rotate3d(0, 0, -5deg); }
  100% { transform: rotate3d(0, 0, 0deg); }
}

.3d.swing {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing3d;
  -moz-animation-name: swing3d;
  -o-animation-name: swing3d;
  animation-name: swing3d;
}

@-webkit-keyframes wobble3d {
  0% { -webkit-transform: translate3d(0%); }
  15% { -webkit-transform: translate3d(0, -25%, 0) rotate3d(0, 0, -5deg); }
  30% { -webkit-transform: translate3d(0, 20%, 0) rotate3d(0, 0, 3deg); }
  45% { -webkit-transform: translate3d(0, -15%, 0) rotate3d(0, 0, -3deg); }
  60% { -webkit-transform: translate3d(0, 10%, 0) rotate3d(0, 0, 2deg); }
  75% { -webkit-transform: translate3d(0, -5%, 0) rotate3d(0, 0, -1deg); }
  100% { -webkit-transform: translate3d(0%); }
}

@-moz-keyframes wobble3d {
  0% { -moz-transform: translate3d(0%); }
  15% { -moz-transform: translate3d(0, -25%, 0) rotate3d(0, 0, -5deg); }
  30% { -moz-transform: translate3d(0, 20%, 0) rotate3d(0, 0, 3deg); }
  45% { -moz-transform: translate3d(0, -15%, 0) rotate3d(0, 0, -3deg); }
  60% { -moz-transform: translate3d(0, 10%, 0) rotate3d(0, 0, 2deg); }
  75% { -moz-transform: translate3d(0, -5%, 0) rotate3d(0, 0, -1deg); }
  100% { -moz-transform: translate3d(0%); }
}

@-o-keyframes wobble3d {
  0% { -o-transform: translate3d(0%); }
  15% { -o-transform: translate3d(0, -25%, 0) rotate3d(0, 0, -5deg); }
  30% { -o-transform: translate3d(0, 20%, 0) rotate3d(0, 0, 3deg); }
  45% { -o-transform: translate3d(0, -15%, 0) rotate3d(0, 0, -3deg); }
  60% { -o-transform: translate3d(0, 10%, 0) rotate3d(0, 0, 2deg); }
  75% { -o-transform: translate3d(0, -5%, 0) rotate3d(0, 0, -1deg); }
  100% { -o-transform: translate3d(0%); }
}

@keyframes wobble3d {
  0% { transform: translate3d(0%); }
  15% { transform: translate3d(0, -25%, 0) rotate3d(0, 0, -5deg); }
  30% { transform: translate3d(0, 20%, 0) rotate3d(0, 0, 3deg); }
  45% { transform: translate3d(0, -15%, 0) rotate3d(0, 0, -3deg); }
  60% { transform: translate3d(0, 10%, 0) rotate3d(0, 0, 2deg); }
  75% { transform: translate3d(0, -5%, 0) rotate3d(0, 0, -1deg); }
  100% { transform: translate3d(0%); }
}

.3d.wobble {
  -webkit-animation-name: wobble3d;
  -moz-animation-name: wobble3d;
  -o-animation-name: wobble3d;
  animation-name: wobble3d;
}

@-webkit-keyframes pulse3d {
  0% { -webkit-transform: scale3d(1, 0, 0); }
  50% { -webkit-transform: scale3d(1.1, 0, 0); }
  100% { -webkit-transform: scale3d(1, 0, 0); }
}

@-moz-keyframes pulse3d {
  0% { -moz-transform: scale3d(1, 0, 0); }
  50% { -moz-transform: scale3d(1.1, 0, 0); }
  100% { -moz-transform: scale3d(1, 0, 0); }
}

@-o-keyframes pulse3d {
  0% { -o-transform: scale3d(1, 0, 0); }
  50% { -o-transform: scale3d(1.1, 0, 0); }
  100% { -o-transform: scale3d(1, 0, 0); }
}

@keyframes pulse3d {
  0% { transform: scale3d(1, 0, 0); }
  50% { transform: scale3d(1.1, 0, 0); }
  100% { transform: scale3d(1, 0, 0); }
}

3D.pulse {
  -webkit-animation-name: scale3d;
  -moz-animation-name: scale3d;
  -o-animation-name: scale3d;
  animation-name: scale3d;
}

@-webkit-keyframes flip3d {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0,0,0);
    -webkit-animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 170deg, 0);
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 190deg, 0) scale3d(1, 0, 0);
    -webkit-animation-timing-function: ease-in;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 360deg, 0) scale3d(.95, 0, 0);
    -webkit-animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(400px) scale3d(1, 0, 0);
    -webkit-animation-timing-function: ease-in;
  }
}
@-moz-keyframes flip3d {
  0% {
    -moz-transform: perspective(400px) rotate3d(0, 0, 0);
    -moz-animation-timing-function: ease-out;
  }
  40% {
    -moz-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 170deg, 0);
    -moz-animation-timing-function: ease-out;
  }
  50% {
    -moz-transform: perspective(400px) translate3d(0, 0, 150px) rotateY(0, 190deg, 0) scale3d(1, 0, 0);
    -moz-animation-timing-function: ease-in;
  }
  80% {
    -moz-transform: perspective(400px) rotate3d(0, 360deg, 0) scale3d(.95, 0, 0);
    -moz-animation-timing-function: ease-in;
  }
  100% {
    -moz-transform: perspective(400px) scale3d(1, 0, 0);
    -moz-animation-timing-function: ease-in;
  }
}
@-o-keyframes flip3d {
  0% {
    -o-transform: perspective(400px) rotate3d(0, 0, 0);
    -o-animation-timing-function: ease-out;
  }
  40% {
    -o-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 170deg, 0);
    -o-animation-timing-function: ease-out;
  }
  50% {
    -o-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 190deg, 0) scale3d(1);
    -o-animation-timing-function: ease-in;
  }
  80% {
    -o-transform: perspective(400px) rotate3d(0, 360deg, 0) scale3d(.95);
    -o-animation-timing-function: ease-in;
  }
  100% {
    -o-transform: perspective(400px) scale3d(1);
    -o-animation-timing-function: ease-in;
  }
}
@keyframes flip3d {
  0% {
    transform: perspective(400px) rotate3d(0, 0, 0);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 170deg, 0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 190deg, 0) scale3d(1);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 360deg, 0) scale3d(.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px) scale3d(1);
    animation-timing-function: ease-in;
  }
}

.3d.flip {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flip3d;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flip3d;
  -o-backface-visibility: visible !important;
  -o-animation-name: flip3d;
  backface-visibility: visible !important;
  animation-name: flip3d;
}



@-webkit-keyframes lightSpeedOut3d {
    0% { -webkit-transform: translate3d(0%, 0%, 0%) skewX(0deg); opacity: 1; }
  100% { -webkit-transform: translate3d(100%, 0%, 0%) skewX(-30deg); opacity: 0; }
}
@-webkit-keyframes lightSpeedOut3d {
    0% { -moz-transform: translate3d(0%, 0%, 0%) skewX(0deg); opacity: 1; }
  100% { -moz-transform: translate3d(100%, 0%, 0%) skewX(-30deg); opacity: 0; }
}
@-o-keyframes lightSpeedOut3d {
    0% { -o-transform: translate3d(0%, 0%, 0%) skewX(0deg); opacity: 1; }
  100% { -o-transform: translate3d(100%, 0%, 0%) skewX(-30deg); opacity: 0; }
}
@keyframes lightSpeedOut3d {
    0% { transform: translate3d(0%, 0%, 0%) skewX(0deg); opacity: 1; }
  100% { transform: translate3d(100%, 0%, 0%) skewX(-30deg); opacity: 0; }
}

.3d.lightSpeedOut {
    -webkit-animation-name: lightSpeedOut3d;
    -moz-animation-name: lightSpeedOut3d;
    -o-animation-name: lightSpeedOut3d;
    animation-name: lightSpeedOut3d;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.animated.lightSpeedOut3d {
    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -o-animation-duration: 0.25s;
    animation-duration: 0.25s;
}
