/*---------Container---------*/
.ui-jqgrid{
  font-size: 11px;
  padding: 0 0 15px 5px;
}


/*---------Table title----------*/

.ui-jqgrid-titlebar {
  padding: .3em .2em .2em .3em;
  position: relative;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 0 none;
}
.ui-jqgrid-titlebar span {
  font-weight: bold;
  color: #999999;
}

.ui-jqgrid-titlebar a {
  position: absolute;
  top: 50%;
  width: 19px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 18px;
  right: 0px;
}

.ui-jqgrid-titlebar a:hover{
  background-color: #B2EBEB;
}

/*--------Table Headers--------*/

.ui-jqgrid .ui-jqgrid-sortable {
  cursor: pointer;
}

.ui-jqgrid-htable tr th{
  border-right: 3px solid white;
  padding-left: 10px;

}
.ui-jqgrid .ui-jqgrid-resize-ltr {
float: right;
margin: -2px -2px -2px 0px;
}

.ui-jqgrid .ui-jqgrid-resize {
height: 20px !important;
position: relative;
cursor: e-resize;
display: inline;
overflow: hidden;
}

.ui-jqgrid-labels th:first-child{
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}

/*--------Table Body-----------*/

.apache-grid-container {
  border: 1px #EBE8E8 solid;
}


.apache-grid-container tr {
  border-color: #EBE8E8;
}

.apache-grid-container td {
  border-right: 1px #EBE8E8 solid;
}
.apache-grid-container td:last-child {
  border-right: none;
}

.ui-jqgrid .ui-jqgrid-btable {
  table-layout: fixed;
  margin: 0;
  outline-style: none;
}


.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
  border-left: none;
}

.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  border-top: none;
  border-bottom: none;
}

.ui-jqgrid .ui-jqgrid-htable th {
  padding: 5px 2px 5px 2px;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #f2f2f2;
  font-weight: bold;
  color: black;
}


.ui-jqgrid tr.jqgrow td {
  font-weight: normal;
  color: #848484;
  overflow: hidden;
  white-space: pre;
  padding: 8px 2px 8px 0;
  border-bottom: 1px solid #d9d9d9;
  border-left: 5px solid rgba(255,255,255,0.1);
  border-right: 30px solid rgba(255,255,255,0.1);
}

.ui-state-hover {
  background-color: #deecf4;
}

.ui-state-hover .ui-jqgrid tr.jqgrow td{
  font-weight: bold;
  color: #5e5e5e;
}

.jqx-grid-cell {
  text-align: left;
}

.ui-jqgrid tr.jqgrow  img {
  padding-left: 15px;
}

tr[role="row"]:focus {
  outline: none;
}

.ui-state-highlight {
  background-color: #C7DEEB
}

.ui-state-highlight td {
  border-color: #C7DEEB ;
}