.tweetsearch-wrapper {
  height: 100%;
}

.tweet-search {
  padding: 1%;
  border-bottom: 1px solid #69A4BB;
  background-color: #69A4BB;
}

.tweet-list {
  height: 83%;
  overflow: scroll;
}

.tweet-list > li {
  height: 15%;
  padding-left: 1%;

  list-style: none;
  overflow: hidden;
}

.tweet-list > li:nth-child(even) {
  background-color: #94C9DD;
}

.tweet-list > li:nth-child(odd) {
  background-color: #A7CEDD;
}

.tweet-wrapper {
  padding: 1% 1% 1% 1%;
}

